<div class="background">
  <header>
    <div class="welcome">
      <h1>Welcome to LIC Hub!</h1>
    </div>
    <div class="description">
      <h3>(a collaboration of both neighborhood facts and opinions)</h3>
    </div>
  </header>
</div>
