// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

div.table {
  position: absolute;
  width: 96%;
  background-attachment: fixed;
  top: 50%;
  bottom: 5%;
  left: 1.5%;
  background-color: rgba(0, 0, 0, 0.4);
}

table.table {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 1%;
  color: white;
}

td {
  text-align: left;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-bottom: 4%;
  width: 20.5%;
}

th {
  text-align: left;
  font-size: 17px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-variant: small-caps;
  padding-bottom: 3%;
  width: 20%;

}

tbody, thead{
  display:block;
}

tbody {
  overflow:auto;
  height: 80%;
  padding-bottom: 7%;
  margin-left: 1%;
}
