// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

div.table {
  position: absolute;
  width: 96%;
  background-attachment: fixed;
  top: 40%;
  bottom: 5%;
  left: 1.5%;

}

table.table {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 1%;
  color: white;
}

td {
  text-align: left;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-bottom: 4%;
  width: 21.83%;
}

th {
  text-align: left;
  font-size: 17px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-variant: small-caps;
  padding-bottom: 2%;
  width: 22.83%;

}

tbody, thead {
  display:block;
  margin-left: 1%;
}

tbody {
  overflow:auto;
  padding-bottom: 7%;
  background-color: rgba(0, 0, 0, 0.6);
  height:330px;
}

thead {
  background-color: rgba(0, 0, 0, 0.7);
}

table.table a {
  color: #99CCFF;
}

thead.users_head tr th {
  text-align: left;
  font-size: 17px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-variant: small-caps;
  padding-bottom: 2%;
  width: 160px;

}

tbody.users_head tr td {
  font-size: 15px;
  text-align: left;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 180px;
}

tbody.users_head {
  height:330px;
}

thead.users_head {
  height:60px;
}
