// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #FFFFFF;
}

.login {
  float: right;
  text-align: right;
  width: 100%;
  clear:both;
  margin-bottom: 2%;
}

.logout {
  float: right;
  position: relative;
  width: 50%;
  text-align: right;
  margin-bottom: 3%;
}
.name {
  position: relative;
  width: 50%;
  float: left;
  clear: both;
}

div.label {
  position: relative;
  margin-top: 3%;
}
